<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/src/SERVER/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="JavaFinalProject" />
      <element id="extracted-dir" path="$PROJECT_DIR$/src/com/lib/sqljdbc42.jar" path-in-jar="/" />
      <element id="library" level="project" name="sqljdbc42" />
    </root>
  </artifact>
</component>